body{
    background: linear-gradient(0deg, rgba(55,59,59,1) 0%, rgba(0,0,0,1) 100%) !important;
    color: #ffffff !important;
    height: 100vh;
}

input, textarea {
    background-color: #494949 !important;
    color: #ffffff !important;
}

#electron-titlebar{
    background-color: #595959;
    height: 35px !important;
}

