body{
    background-color: #242424 !important;
    color: #ffffff !important;
}

input, textarea {
    background-color: #494949 !important;
    color: #ffffff !important;
}

#electron-titlebar{
    background-color: #595959;
    height: 35px !important;
}

