/* Nav */
/*
.nav {
    width: 200px;
    overflow-x: hidden;
    overflow-y: auto;
    color: var(--color-subtle);
    border-right: 1px solid var(--color-border);
    background-color: var(--color-bg);
    visibility: visible;
    opacity: 0.5;
  }*/

.navigationNormal ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
   /* width: 200px;*/
    min-width: 50px;
   /* background-color: #414040;*/
    position: fixed;
    height: 100vh;
    /*overflow: auto;*/
    overflow-y: auto;
    
}

.navigationNormal ul li a {
    display: block;
    color: rgb(43, 88, 114) !important;
    padding: 8px 16px;
    text-decoration: none;
    margin: 5;
    
}

.navigationNormal ul li a.active {
    background: radial-gradient(circle, rgba(148,148,150,1) 0%, rgba(74,74,74,1) 100%);
    color: rgb(124, 0, 0) !important;
    text-decoration: none;
}

.navigationNormal ul li a:hover:not(.active) {
    background: radial-gradient(circle, rgba(102,102,102,1) 0%, rgba(41,41,41,1) 100%);
    color: white !important;
    text-decoration: none;
    transition: all 0.2s ease-in-out;
}

.navigationNormal ul li a:hover {
    text-decoration: none;
    
}

.navigationNormal ul li a:link {
    text-decoration: none;
    
}

.navigationNormal ul li a:visited {
    text-decoration: none;
    color: inherit;
}

.navigationNormal{
    width: 200px;
    height: 100%;
    flex: 1;
    
}

/*.navigationSmall{
    width: auto;
    overflow-y: auto;
    flex: 1;
}
*/

@media only screen and (max-width: 480px) {
    /*Hide the icon only menu*/
    /*.navigationNormal { display: none; }*/
    .navigationNormal span{
        display: none;
   
    }
    .navigationNormal{
        width: 60px;
    }
    .grid-container {
        grid-template-columns: 60px 1fr 1fr 1fr !important;
    }
    .mainContent{
        margin-left: 20px;
        padding:1px 16px;
    }
  }

@media only screen and (min-width: 480px) {
    /*.navigationSmall { display: none; }*/
    .navigationNormal span{
        display: inline-block;
       
    }
    .grid-container {
        grid-template-columns:220px 1fr 1fr 1fr !important;
    }
    .navigationNormal{
        transition: all 1s;
        width: 200px;
    }
    .mainContent{
        margin-left: 100px;
        padding:1px 16px;
    }
}

